:root {
    --primary-color: #8b0000;
    --darker-primary-color : #490000;
    --secondary-color: #f4f4f4;
    --text-color: #333;
    --white: #fff;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--white);
}

h1, h2, .title {
    font-family: 'ChunkFive', serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

header {
    background-color: transparent;
    box-shadow: none;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
    transition: background-color 0.3s ease;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo-container {
    width: 60px;
}

.logo {
    width: 100%;
    height: auto;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 3rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.contact-btn {
    background-color: var(--primary-color);
    color: var(--white) !important;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #6b0000;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px;
    transition: all 0.3s ease;
}

#hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    overflow: hidden;
}

#hero-video {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: hue-rotate(225deg) brightness(0.5) contrast(1.6);
}

.hero-content {
    position: relative;
    z-index: 1;
}

#hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

#hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#about {
    position: relative;
    margin-top: -150px;
    margin-bottom: 100px;
    background-color: transparent; /* Make the entire section background transparent */
    padding: 0; /* Remove padding to eliminate any white space */
}


.about-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 60%;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 1px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-15%);
    z-index: 10;
}

#about h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: var(--primary-color);
}

#about p {
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.6;
}

section {
    padding: 5rem 0;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.cta-btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #6b0000;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.service-item {
    flex: 1 1 30%;
    min-width: 250px;
    background-color: var(--white);
    padding: 2rem;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 2rem;
    border: 2px solid var(--primary-color);
}

.service-item:hover {
    transform: translateY(-5px);
    border: 2px solid var(--darker-primary-color);
}

.service-item i {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.service-item h3 {
    margin-bottom: 0.5rem;
}

.discount, .extra-info {
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
}

#specialties {
    background-color: var(--secondary-color);
    padding: 2rem 0;
    position: relative;
}

#specialties h2 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 3rem;
    position: relative;
}

.specialties-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.specialty {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    text-align: center;
    position: relative;
    z-index: 1;
    border: 2px solid transparent;
}

.specialty:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--primary-color);
}

.specialty i {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.specialty h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--darker-primary-color);
}

.specialty p {
    font-size: 1rem;
    color: var(--text-color);
}

#hours ul {
    list-style: none;
    max-width: 400px;
    margin: 0 auto;
}

#hours ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: var(--white);
    border-radius: 5px;
}

footer {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 3rem 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.footer-section {
    flex-basis: 45%;
    margin-bottom: 2rem;
}

.footer-section.left {
    text-align: left;
}

.footer-section.right {
    text-align: right;
}

.social-icons a {
    color: var(--white);
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: var(--secondary-color);
}

.copyright {
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#presentation {
    background-color: var(--secondary-color);
    padding: 8rem 0rem 4rem 0rem;
}

#presentation p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: var(--text-color);
}

#presentation ul {
    margin-top: 1rem;
    padding-left: 1.5rem;
}

#presentation ul li {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

#presentation ul li strong {
    color: var(--primary-color);
}

#approach {
    padding: 4rem 0;
    background-color: var(--white);
    color: var(--text-color);
}

#approach p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: var(--text-color);
}

#approach h2 {
    color: var(--primary-color);
    margin-bottom: 2rem;
}

#history {
    padding: 4rem 0;
    background-color: whitesmoke;
    color: var(--text-color);
}

#history p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: var(--text-color);
}

#history h2 {
    color: var(--primary-color);
    margin-bottom: 2rem;
}

#values {
    background-color: var(--white);
    padding: 4rem 0;
}

.value-container {
    background-color: var(--white);
}

#values .values-container {
    background-color: var(--white);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

#values .value-item {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 30%;
    transition: transform 0.3s ease;
    border: 2px solid var(--white);
}

#values .value-item:hover {
    transform: translateY(-5px);
    border: 2px solid var(--primary-color);
}

#values .value-item h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

#values .value-item p {
    font-size: 1.1rem;
    color: var(--text-color);
}

@media screen and (max-width: 768px) {
    #values .values-container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0px;
        height: fit-content;
        top: 8vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        padding: 1rem;
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .specialty {
        flex-basis: 100%;
    }

    .footer-section {
        flex-basis: 100%;
    }

    #hero {
        background-attachment: scroll;
    }

    .service-item {
        flex: 1 1 45%;
    }

    .about-content {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 2rem;
        width: 90%;
    }

    .specialties-container {
        flex-direction: column;
        align-items: center;
    }

    .specialty {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .service-item {
        flex: 1 1 100%;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.discount-section {
    position: relative;
    padding: 7rem 2rem 6rem 2rem;
    color: var(--white);
    text-align: center;
    font-weight: bold;
    margin: 2rem auto;
    background-image: url('barber.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
    overflow: hidden;
}

.discount-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.discount-section p {
    margin-bottom: 1rem;
    z-index: 2;
    position: relative;
}

.discount-section span {
    font-weight: bold;
    color: var(--secondary-color);
    z-index: 2;
}

.beer-info {
    font-size: 1.1rem;
    color: var(--text-color);
    background-color: var(--secondary-color);
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 1.5rem auto;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-style: italic;
}
